{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <h3 class="text-center p-4">Request access</h3>

            {{ form_start(form) }}
            {% block form_errors %}
                {% if errors|length > 0 %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in errors %}
                            - {{ error.message }}<br/>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endblock form_errors %}

            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        {{ form_label(form.firstName) }}
                        {{ form_widget(form.firstName, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        {{ form_label(form.lastName) }}
                        {{ form_widget(form.lastName, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        {{ form_label(form.username) }}
                        {{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    {{ form_label(form.userMail, 'E-mail address') }}
                    {{ form_widget(form.userMail, { 'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="col">
                    <div class="form-group">
                        {{ form_label(form.supervisorMail, 'Supervisor e-mail address') }}
                        {{ form_widget(form.supervisorMail, { 'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.description) }}
                {{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows': '5'}}) }}
            </div>

            {{ form_widget(form.request, {'attr': {'class': 'btn btn-block btn-outline-dark'}}) }}
            {{ form_end(form) }}
        </div>
    </div>

    <script type="text/javascript">
        let txtFirstName = $('#access_request_form_firstName');
        let txtLastName = $('#access_request_form_lastName');
        let txtUsername = $('#access_request_form_username');

        function updateUsername() {
            let firstname = txtFirstName.val();
            let lastname = txtLastName.val();
            let username = "";
            if (firstname.length > 0)
                username = firstname.charAt(0).toLowerCase();
            if (lastname.length > 0)
                username += lastname.toLowerCase();
            txtUsername.val(username);
        }

        txtFirstName.keyup(updateUsername);
        txtLastName.keyup(updateUsername);
    </script>
{% endblock %}