<p>
    Hello {{ request.firstName }},
</p>

<br/>

<p>
    Your request to use the Alan cluster has been approved.
</p>

<p>(This is an automated e-mail, do not reply.)</p>

<p style="font-weight: 700 !important;">Your credentials</p>

<p>
    <span style="font-weight: 700 !important;">Username</span><br/>
    {{ request.username }}
</p>

<p>
    <span style="font-weight: 700 !important;">Password</span><br/>
    {{ password }}
</p>

<p>
    <span style="font-weight: 700 !important;">Host</span><br/>
    {{ host }} ({{ ip }})<br/>
    (from within the ULiège network only or through its VPN)
</p>

<br/><br/>

<p>
    Please check the documentation on<br/>
    https://github.com/montefiore-ai/alan-cluster and<br/>
    https://github.com/montefiore-ai/alan-cluster/tree/master/tutorials.<br/>
    If you have any issues or questions you can post them there.
</p>

<p>
    For documentation about Slurm, you can check<br/>
    https://support.ceci-hpc.be/doc/_contents/QuickStart/SubmittingJobs/SlurmTutorial.html.
</p>

<p>
    Please note that the cluster is primarily used by the researchers of the department.<br/>
    Read the documentation carefully before doing anything.<br/>
    If you have any questions, please ask us before trying anything you are unsure about.
</p>

<br/>

<p>
    Kind regards.
</p>